.vs
.vcode
build
install
bin

// libraries
glew
glew-2.1.0
glfw
glm
stb-master

// CMake 
CMakeSettings.json
CMakeCache.txt
CMakeFiles
Makefile
CMakeScripts
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

// DICOM files
Larry
Larry_2017
Larry_Smarr_2016
dicom